doctype html
html(data-user=user data-isbanker=isBanker.toString() data-gameId=gameId data-playerId=user.id data-mpc= moneyPerCircle )
    head
        title= user.name
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include includes/iconLink
        include includes/linkCommon
        link(
            rel="stylesheet"
            href="../public/playerPage/player.css"
        )
    body
        .container.center
            div(style="visibility: hidden").userContent.center
                if(isBanker)
                    header
                        ul.options
                            li#yourControlsBtn.option.active   Your controls
                            li#otherPlayersBtn.option   Players money
                            li#moveLogBtn.option   Move logs
                include includes/playerControls
                include includes/playersMoney
                include includes/movesLog
            h1(style="visibility: hidden").message This user is already picked   
            .bg-cont
                #pick-player-to-pay.col-lg-3.col-md-6.col-sm-12
                    .title For who?
                    .player(id= "bank") Bank

            #changePlayer(class="fas fa-sign-out-alt")
            #isConnected(class="not-connected") You are not connected
            if (isBanker)
                #closeRoom(class="far fa-window-close")
            input#urlLink
    script(src="https://kit.fontawesome.com/9ef32952ff.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="../public/playerPage/player.js")
