doctype html
html(data-isbanker=isBanker.toString() data-gameId=gameId data-playerId=user.id data-startSettings= startSettings )
    head
        title= user.name
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include includes/iconLink
        include includes/linkCommon
        link(
            rel="stylesheet"
            href="../public/playerPage/player.css"
        )
    body
        .container.center
            div(style="visibility: hidden").userContent.center
                if(isBanker)
                    header
                        ul.options
                            li#yourControlsBtn.option.active   Your controls
                            li#otherPlayersBtn.option   Players money
                            li#moveLogBtn.option   Move logs
                include includes/playerControls
                include includes/playersMoney
                include includes/movesLog

            h1(style="visibility: hidden").message This user is already picked   

            .bg-cont
                #pick-player-to-pay.col-lg-3.col-md-6.col-sm-12
                    .title For who?
                    .player(id= "bank") Bank
                    for player in players 
                        if (player._id !== user._id)
                            .player.center(id= player._id)= player.name

            if (startSettings.isMaxTimeOn)
                #timer= startSettings.maxTime

            #toggleMenu     
                #toggleMenuBtn     
                    .l.l1
                    .l.l2
                    .l.l3
                #menu
                    #toInitPage.neutralBtn.menuItem Leave room 
                    #changePlayer.neutralBtn.menuItem Change player
                    #giveUp.neutralBtn.menuItem Give up
                    if (isBanker)
                        #closeRoom.menuItem.negativeBtn Close room
    
            #isConnected(class="not-connected") You are not connected
    script= `let turnsBeforeNewCircle = ${turnsBeforeCircle};`
    script(src="https://kit.fontawesome.com/9ef32952ff.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="../public/playerPage/player.js")
