doctype html
html
    head
        title= user.name
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include includes/iconLink
        include includes/linkCommon
        link(
            rel="stylesheet"
            href="../public/playerPage/player.css"
        )
    body(data-startSettings=startSettings data-players=players)
        .container.center
            div(style="visibility: hidden").userContent.center
                if(!user.isLost)
                    if(isBanker)
                        header
                            ul.tabs
                                li(data-to='playerControls')#yourControlsBtn.tab.active   
                                    a(href='#playerControls') Your controls
                                li(data-to='playersMoney')#otherPlayersBtn.tab   
                                    a(href='#playersMoney') Players money
                                li(data-to='moveLog')#moveLogBtn.tab   
                                    a(href='#moveLog') Move logs
                    include includes/playerPage/playerControls
                    include includes/playerPage/playersMoney
                    if (isBanker)
                        include includes/playerPage/movesLog

            h1(style="visibility: hidden").message This user is already picked   
            if(!user.isLost)
                .bg-cont
                    #pick-player-to-pay.col-lg-3.col-md-6.col-sm-12
                        .title To who?
                        .player(id= "bank") Bank
                        for player in players 
                            if (player._id !== user._id && !player.isLost)
                                .player.center(id= player._id)= player.name
                    #afterLostPrompt
                        .title Do you want to leave or keep watching game?        
                        .buttons
                            #leave.negativeBtn Leave
                            #keepWatching.positiveBtn Keep watching    

            #toggleMenu     
                input#toggleMenuCheckbox(
                    type="checkbox"
                )
                label(for="toggleMenuCheckbox")
                    #toggleMenuBtn     
                        .l.l1
                        .l.l2
                        .l.l3
                #menu
                    a(href='/')#toInitPage.neutralBtn.menuItem Leave room 
                    if(!user.isLost)
                        #changePlayer.neutralBtn.menuItem Change player
                        #giveUp.neutralBtn.menuItem Give up
                    if (isBanker)
                        #closeRoom.menuItem.negativeBtn Close room
            
            if (startSettings.isMaxTimeOn)
                #timer= startSettings.maxTime
    
            #isConnected(class="not-connected") You are not connected
    script. 
        let turnsBeforeNewCircle = #{turnsBeforeCircle};
        const gameId = '#{gameId}';
        const playerId = '#{user.id}';
        const isBanker = #{isBanker};
        const startSettings = JSON.parse(document.body.dataset.startsettings);
        const isLost = #{user.isLost};
        const createdAt = Date.parse('#{createdAt}');
        let isGoing = #{isGoing};
        const players = JSON.parse(document.body.dataset.players);

    script(src="https://kit.fontawesome.com/9ef32952ff.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="../public/playerPage/player.js")
    script(src="../public/playerPage/banker.js")
    script(src="../public/playerPage/eventListeners.js")
