doctype html
html
    head
        title Starter settings
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include includes/linkCommon
        include includes/iconLink
        link(
            rel="stylesheet"
            href="../../public/starterSettings/settings.css"
        )
    body.center
        .container.center
            .grid-container
                .players
                    .players-cont 
                        div.head.player-cont
                            span.isBankerSpan Banker
                            span.title Players
                            span.deleteSpan Delete
                        if players
                            for i in players
                                div(id = i.id).player-cont
                                    input(disabled = isStartSettingsDone type = "checkbox" checked = startSettings.bankerId == i.id data-bankerId=startSettings.bankerId data-id=i.id).isBanker
                                    .player= i.name
                                    if !isStartSettingsDone
                                        button.delete x
                                    else
                                        div
                        if !maxPlayers && !isStartSettingsDone
                            .add-player-cont
                                div
                                button.add-player.player Add player
                                div
                    if !isStartSettingsDone
                        .end-line
                            p.maxP.center Max 6 players*
                            button#change-sequence-btn Change sequence
                .settings-buttons
                    .settings
                        h3 Settings
                        .setting.money
                            p Start money
                            div.input
                                input.value.texti(data-default= "15000" data-name= "startMoney" value=startSettings.startMoney || "15000" type="number" min="0" disabled = isStartSettingsDone)#startMoneyIn
                                pre= " k"
                        .setting.moneyFS
                            p Money for circle
                            div.input
                                input.value.texti(data-default= "2000" data-name= "moneyForCircle" value= startSettings.moneyForCircle || "2000" type="number" min="0" disabled = isStartSettingsDone)#circleMoney
                                pre= " k"
                        .setting.minTurnsForCircle
                            p Min turns for circle
                            div.input
                                input.value.texti(data-default= "4" data-name= "minTurnsForCicle" value= startSettings.minTurnsForCircle || "4" type="number" min="0" disabled = isStartSettingsDone)#minTurns
                                pre= " turns"
                        .setting.isMaxTimeOn
                            p Turn on time limit?
                            div.input
                                input.value.toggleBlock(data-default= "false" data-name= "isMaxTimeOn" type= "checkbox" data-to=".maxTime" checked= startSettings.isMaxTimeOn disabled= isStartSettingsDone)#isMaxTimeOn
                        .setting.maxTime.togglable(class= (!startSettings.isMaxTimeOn && "blocked"))
                            p Time limit
                            div.input
                                input.value.texti(data-default= "1" data-name= "maxTime" type= "number" min="0" value= startSettings.maxTime disabled)#isMaxTimeOn
                                pre= " min"
                    if !isStartSettingsDone
                        .buttons.center
                            button#reset.negativeBtn Standard settings
                            button#next.positiveBtn Create
            if !isStartSettingsDone
                .bg-cont
                    .change-sequence-cont
                        div.title Choose players by circle
                        div.change-sequence-players
                        button#closeChangeSequence.negativeBtn Close
        if !isStartSettingsDone
            script(src="../../public/starterSettings/settings.js")
            script(src="https://unpkg.com/axios/dist/axios.min.js")