doctype html
html
    head
        title Starter settings
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        )
        link(
            rel="stylesheet"
            href="../../public/starterSettings/settings.css"
        )
        include includes/iconLink
    body
        .container.center
            .col-lg-10.grid-container
                .players
                    .players-cont Players
                        if players
                            for i in players
                                div(id= i.id).player-cont
                                    input(disabled= isStartSettingsDone type= "checkbox" checked = startSettings.bankerId === i.id).isBanker
                                    .player= i.name
                                    if !isStartSettingsDone
                                        .delete x
                                    else
                                        div
                        if !maxPlayers && !isStartSettingsDone
                            .add-player-cont
                                div
                                .add-player.player Add player
                                div
                    if !isStartSettingsDone
                        .end-line
                            p.maxP.center Max 6 players*
                            button#change-sequence-btn Change sequence
                .settings-buttons
                    .settings
                        h3 Settings
                        .setting.money
                            p Start money
                            p.equal= "="
                            div.input
                                input.texti(value=startSettings.startMoney || "15000" type="number" disabled = isStartSettingsDone)#startMoneyIn
                                p= " k"
                        .setting.moneyFS
                            p Money for circle
                            p.equal= "="
                            div.input
                                input.texti(value= startSettings.moneyForCircle || "2000" type="number" disabled = isStartSettingsDone)#circleMoney
                                p= " k"
                    if !isStartSettingsDone
                        .buttons.center
                            button#reset Standard settings
                            button#next Create
            .bg-cont
                .col-lg-4.col-sm-12.col-md-8.change-sequence-cont
                    div.title Choose players by circle
                    div.change-sequence-players
        if !isStartSettingsDone
            script(src="../../public/starterSettings/settings.js")
            script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="../../public/ravnyator.js")