-
    var typeStrs = {
        giveMoney: "Gave ",
        gotCircle: "Went circle +" 
    }

mixin move(moves, player)
    -var lastMove = moves[moves.length - 1]
    .playerMove(data-id= player._id data-move=lastMove)
        .fstMoveRow
            span= player.name
        div(class= `sndMoveRow ${player.isGoing ? "going" : "not-going"}`)
            .moveCont
                if (player.moves.length === 0)
                    span.type Player haven't done anything
                    span.total
                    span.target
                else if (lastMove.type == "gotCircle")
                    span.type= typeStrs[lastMove.type]
                    span.total= startSettings.moneyForCircle
                    span.target= ""
                else 
                    span.type= typeStrs[lastMove.type]
                    span.total= lastMove.total + 'k for '
                    span.target= lastMove.for === 'bank' ? "Bank" : players.find(player => player._id == lastMove.for).name
            if (player.moves.length > 0)
                span.delete X
                    span.count= player.moves.length - 1
 
#moveLog.workArea
    for player in players
        if (!player.isLost)
            +move(player.moves, player)